ACTION=="add", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ENV{PRODUCT}=="46d/c337/214", RUN+="/usr/local/bin/monswap dp"
ACTION=="remove", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ENV{PRODUCT}=="46d/c337/214", RUN+="/usr/local/bin/monswap hdmi"
