[Desktop Entry]
Type=Application
Name=Open in Spotify
GenericName=Music Player
Icon=spotify-client
Exec=playerctl -p spotify open %U
Terminal=false
MimeType=x-scheme-handler/spotify;x-scheme-handler/https;x-scheme-handler/http;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify
