pad='30'

# Set the padding and gap
config top_padding $pad
config bottom_padding $pad
config left_padding $pad
config right_padding $pad
config window_gap $pad

config external_bar main:0:150

# Window Borders
config window_border off
config window_border_width 4
config active_window_border_color 0xFFFB7BA1
config normal_window_border_color 0x00314484

rule app="^iTerm2$" title!="^(viss|Preferences)$" border=on

