load_extra=(
  iterm2.app.rc
  viss.app.rc
)

space_padding=100
window_gap=50

external_bar=all
external_bar_top=0
external_bar_bottom=90

window_border=off
window_border_width=8

active_border=0xFFFDBAC3
normal_border=0xFF9673AD

