#!/usr/bin/env zsh

app='^kitty$'
title='^viss-term'

action="$FOX_DEN/bin/yabai-center-viss"

ignore "$app" "$title"

rule app="$app" title="$title" layer=above
rule app="$app" title="$title" sticky=on
rule app="$app" title="${title}$" display=1
rule app="$app" title="${title}-right$" display=2

yabai -m signal --add event=window_moved app="$app" title="$title" action="$action"
yabai -m signal --add event=window_resized app="$app" title="$title" action="$action"
yabai -m signal --add event=window_created app="$app" title="$title" action="$action"
yabai -m signal --add event=window_title_changed app="$app" title="$title" action="$action"

yabai -m signal --add event=window_moved app="$app" title="${title}-right" action="$action"
yabai -m signal --add event=window_resized app="$app" title="${title}-right" action="$action"
yabai -m signal --add event=window_created app="$app" title="${title}-right" action="$action"
yabai -m signal --add event=window_title_changed app="$app" title="${title}-right" action="$action"

yabai-center-viss
